page-vitrine {
    
    ion-content{
        ion-grid
        {
            margin-bottom: 25px;
        }
        .fab{
            opacity: .8;
            .button-inner {
                
              img {
                display: block;
                width: 75%;
              }
            }
        }

    }
}
