page-vitrine {
    ion-header{
        background-color: map-get($map: $colors, $key: primary);
        &::after{
            background-image: none !important;
        }
        &::before{
            content: "";
            position: absolute;
            background: {
              image: url(../assets/imgs/aba.png);
              repeat: no-repeat;
              position: top right;
            }
            top: 0;
            left: 0;
            width: 50vw;
            height: 150px;
            @media (min-width: 356px) {
                background-position: top left;
            }
        }
        .toolbar{
            min-height: 26px;
            hr{
                padding: 0;
                margin: 0 0 10px 0;
                background-color: rgba(white, .8);
                min-width: 180px;

            }
            button{
                text-transform: none;
                margin-right: 18px;
            }
        }
        .toolbar-background{
            background: transparent;
        }
        ion-title{            
            p{
                color: map-get($map: $colors, $key: dark);
                font-weight: bold;                     
                margin: 15px 0 0;     
                padding-right: 10px;
                position: relative;    
                small{
                    color: map-get($map: $colors, $key: destak);
                    display: inline-block;
                    margin-right: 25px;
                    position: relative;
                    font-weight: normal;
                    &::before
                    {
                        position: absolute;
                        content: "";
                        top: -2px;
                        left: 45px;
                        width: 18px;
                        height: 23px;
                        background: {
                          image: url(../assets/icon/monueda_black.png);
                          position: center center;
                          repeat: no-repeat;
                        }
    
                    }
                }
                &::after{                    
                    content: "";  
                    background: {
                      image: url(../assets/icon/historico.png);
                      position: center center;
                      repeat: no-repeat;
                    }
                    position: absolute;
                    top: 5px;
                    right: 0;                    
                    width: 7px;
                    height: 15px;;                    
                    
                }
            }
        }
        .toolbar-content
        {
            text-align: right;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            ion-item{                        
                max-width: 65%;            
                margin-right: 15px;
            }
        }
    }
    ion-content{
        ion-grid
        {
            margin-bottom: 25px;
        }
        .fab{
            opacity: .8;
            .button-inner {
                
              img {
                display: block;
                width: 75%;
              }
            }
        }

    }
}
