// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.modalTransparent{
    .content
    {
        background-color: rgba(0,0,0,.8);
    }
}
ion-menu {
    &.direita{
        //background-color: rgba(0, 0, 0, .8);
        .content{                        
            background: map-get($map: $colors, $key: secondary);
            .historiContent{
                padding: 20px;
                color: white;
                h2, strong{
                    color: map-get($map: $colors, $key: primary);
                }
                h2{                
                    padding-left: 15px;
                    background: {
                        image: url(../assets/icon/historico.png);
                        position: center left;
                        repeat: no-repeat;
                    }
    
                }
                strong{
                    display: block;
                }
                .segment-button{
                    height: auto;
                    line-height: 1.8rem;
                    text-align: left;
                }
                &>p{
                    font-size: 2rem;
                    strong{
                        padding-left: 25px;
                        background: {
                          image: url(../assets/icon/monueda_branca.png);
                          position: center left;
                          repeat: no-repeat;
                        }

                    }
                }
            }

        }

    }
    &.esquerda{        
        background: {
          image: url(../assets/imgs/bg_menu.png);
          color: rgba(black,.6);
          repeat: no-repeat;
          position: 0 0;                
          
        }

        ion-title{
            p{
                display: flex;
                position: relative;
                align-items: center;
                ion-icon{
                    font-size: 35px;
                }
                color: white;
                font-size: 14px;
                span{
                    display: inline-block;
                    padding-left: 48px;
                    &::after{
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 32px;
                        width: 32px;
                        height: 32px;
                        background-image: url(../assets/icon/logo_menu.png);
                        background-position: top left;
                        background-repeat: no-repeat;
                    }
                }
                strong{
                    font-size: 20px;
                    padding-left: 5px;
                }
            }
        }

        
        &.show-menu{                                   
    
            animation-name: MENU-MOVE;
            animation-duration: .2s;
            animation-timing-function: ease-out;   
            animation-iteration-count: 1;
        }
        &.hidemenu {
            animation-name: MENU-MOVE-REVERSE;
            animation-duration: .12s;
            animation-timing-function: ease-in;   
            animation-iteration-count: 1;

            background-position-x: -150px;
            background-position-y: -240px;

            .menu-inner{
                opacity: 0;
                transition: opacity .2s;
            }
        }
        .menu-inner{
            &::after {
              content: "";
              display: block;
              width: 100vw;
              height: 100vh;
            }

            box-shadow: 0 0 0 !important;
            .header{
                &::after{
                    background: none;
                }
            }
            .scroll-content{
                overflow: hidden;
            }
            &, .content, .toolbar-background, .item{
                background: none;
            }
            ion-list{
                padding-top: 0;
                .item{
                    color: white;
                    ion-thumbnail{
                        min-width: 16px;
                        min-height: 16px;
                        text-align: center;
                        img{
                            width: auto !important;
                            height: 20px;          
                            display: block;
                            margin: 0 auto;              
                        }
                    }
                }
            }
        }
    }
}
ion-menu[type=overlay] .show-backdrop{
    opacity: 0 !important;
}
.bar-button-menutoggle
{
    color: map-get($map: $colors, $key: primary);
    position: relative;
    top: 5px;
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 45px;
        width: 32px;
        height: 32px;
        background: {
            image: url(../assets/icon/logo_menu.png);
            position: top left;
            repeat: no-repeat;
        }
    }
}


.alert-md {
    [aria-checked=true] {

        .alert-radio-icon{
            border-color: map-get($map: $colors, $key: checked);
        }

        .alert-radio-inner{
            background-color: map-get($map: $colors, $key: checked);
        }

        .alert-radio-label {
            color: map-get($map: $colors, $key: checked);
        }

    }
    .alert-button
    {
        color: map-get($map: $colors, $key: checked);
    }

}


@-webkit-keyframes MENU-MOVE {
  from {
    background-position-x: -150px;
    background-position-y: -240px;    

  }
  to {
    background-position-x: 0;
    background-position-y: 0;
  }
}

@-webkit-keyframes MENU-MOVE-REVERSE {
  from {
      background-position-x: 0;
      background-position-y: 0;
    }
    to {
        background-position-x: -150px;
        background-position-y: -240px;
  }
}

